.cover__link {
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url("../../../images/route-image.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  padding-top: 18.6%;
  padding-bottom: 18.6%;
  color: #fff;
}
.cover__link:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url("../../../images/route-image.png") center center;
}
@media (min-width: 768px) {
  .cover__link {
    padding-top: 21.55%;
    padding-bottom: 21.55%;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    padding-top: 24%;
    padding-bottom: 24%;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
