.cities__card-image {
  max-width: 460px;
  min-height: 460px;
  grid-column-start: 1;
  grid-row-start: 2;
}

@media (max-width: 1024px) {
  .cities__card-image {
    max-width: 440px;
    min-height: 440px;
  }
}
@media (max-width: 768px) {
  .cities__card-image {
    max-width: 340px;
    min-height: 340px;
  }
}

@media (max-width: 600px) {
  .cities__card-image {
    width: 320px;
    height: 320px;
    grid-row-start: 3;
  }
}
