.cities__card-paragraph {
  margin: 0;
  max-width: 484px;
  font-size: 16px;
  line-height: 1.625;
}
.cities__card-paragraph:first-child {
  margin-bottom: 27px;
}

@media (max-width: 1024px) {
  .cities__card-paragraph {
    max-width: 456px;
  }
}
@media (max-width: 768px) {
  .cities__card-paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 1.625;
  }
}

@media (max-width: 320px) {
  .cities__card-paragraph {
    width: 288px;
    margin: auto;
  }
  .cities__card-paragraph:first-child {
    margin-top: 25px;
  }
  .cities__card-paragraph:last-child {
    margin-top: 32px;
  }
}
