.hero {
  max-width: 984px;
  margin: auto;
  margin-bottom: 92px;
}
@media (max-width: 1024px) {
  .hero {
    max-width: 928px;
  }
}

@media (max-width: 948px) {
  .hero {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .hero {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) and (min-width: 500px) {
  .hero__image {
    max-width: 500px;
  }
}
