.hero {
  max-width: 984px;
  margin: auto;
  margin-bottom: 92px;
}
@media (max-width: 1024px) {
  .hero {
    max-width: 928px;
    min-height: 580px;
  }
}

@media (max-width: 9488px) {
  .hero {
    max-width: 800px;
    min-height: 480px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 88px;
  }
}
