.know {
  width: 984px;
  margin: auto;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .know {
    width: 928px;
  }
}
@media (max-width: 768px) {
  .know {
    width: 720px;
  }
}
@media (max-width: 320px) {
  .know {
    width: 288px;
  }
}
