.cities__card-url {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 3.2px;
  width: 90%;
  margin-bottom: 12px;
  align-self: flex-start;
}

@media screen and (min-width: 1024px) {
  .cities__card-url {
    line-height: 20px;
  }
}
