.cities__card-url {
  max-width: 456px;
  height: 20px;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0;
}
@media (max-width: 768px) {
  .cities__card-url {
    line-height: 1;
  }
}
@media (max-width: 320px) {
  .cities__card-url {
    width: 288px;
    margin: auto;
    margin-bottom: 12px;
  }
}
