.cities {
  max-width: 984px;
  margin: auto;
  margin-bottom: 148px;
  padding: 0;
}
@media (max-width: 1024px) {
  .cities {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .cities {
    max-width: 720px;
  }
}
@media (max-width: 320px) {
  .cities {
    max-width: 320px;
  }
}
