.cities__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 48px;
  column-gap: 40px;
}
.cities__card:not(:last-child) {
  margin-bottom: 80px;
}
