.cities__card-heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin-left: 16px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .cities__card-heading {
    grid-area: card-heading;
    font-size: 42px;
    line-height: 46px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .cities__card-heading {
    font-size: 72px;
    line-height: 76px;
    width: 90%;
  }
}
