.cities__card-resources {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 30px 16px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .cities__card-resources {
    grid-area: resources;
    margin: 0;
    align-self: end;
  }
}
