.cities__card-link {
  text-decoration: none;
  color: inherit;
  max-width: 456px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  margin-top: 4px;
  grid-column-start: 2;
  grid-row-start: 2;
}
.cities__card-link:hover {
  opacity: 0.8;
}
